body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  text-align: center;
  padding: 10px;
  background-color: #aa00ff;
}

figcaption {
  text-align: center;
  font-size: 10pt
}

#featured-property p {
  margin: auto;
  text-align: center;
  width: 800px;
}

#details div {
  float: left;
  margin: auto;
  background-color: blue;
}
